<div class="footer">
   <div class="container container-2">
       <div class="d-flex flex-column  justify-content-center">
               <div class="story_1_footer"> ABOUT HEAVEN</div>
        <div class="story_2_footer">HEAVEN is an enchanting and easy-to-use parallax Restaurant WordPress theme that allows you to tell your story in a dynamic, narrative and enjoyable way, making it perfect for restaurants, bakeries, bars or coffee shops.</div>
        <div class="story_4_footer">FOLLOW ALONG</div>
        <div class="story_5_footer"> 
          <span ><a href="#" class="fa fa-facebook fb"></a></span>
          <span><a href="#" class="fa fa-twitter fb"></a></span>
          <span><a href="#" class="fa fa-instagram fb"></a></span>
          <span><a href="#" class="fa fa-google fb"></a></span>
          <span><a href="#" class="fa fa-instagram fb"></a></span>
        </div>
       </div>
   </div>
</div>
<div class="add_footer">
  <div class="container container-3">
     <div class="d-flex flex-column  justify-content-center">
       <div class="add_footer_address">© HEAVEN 2019  •   13 Hanway Square, London   •   Tel: 71494563   •   Handcrafted with love by Pixelgrade Team</div>
     </div>
  </div>
  </div>