
.navbar-light .navbar-nav .nav-link {
   color: white;
}

.navbar-brand {
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 4.7px;
  margin-top: 0px;
}

.navbar {
  padding-right: 70px;
}

.nav-link {
  color: white;
  margin-left: 40px;
  font-family: cabin;
  font-size: 15px;
}