
.brand-name {
  height: 625px;
  width: 100%;
  background-image: url('https://2.bp.blogspot.com/-BR2vy0vwC_o/W-60mTttG4I/AAAAAAAAAIw/r0SCy01_-X4BaREz6em_AFMzQDTMUciFQCLcBGAs/s1600/DSC_0289-02.jpeg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
